<!DOCTYPE html>
<html lang="en">

<head>
  <title>Template</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    @import "style.css";
  </style>
  <style>
    @import "bootstrap.min.css";
  </style>

  <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
  <script src="../node_modules/d3/dist/d3.min.js"></script>
  <script src="../node_modules/@googlemaps/markerclusterer/dist/index.min.js"></script>
  <script src="../node_modules/d3/dist/d3.min.js"></script>
  <script src="index.js"></script>
</head>

<body>
  <p>Hello world!</p>
</body>

</html>